main{
    width: 100%;
    height: 100%;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header input{
    padding: 10px;
    margin: 10px;
    width: 300px;
   border-radius:5px;
   border: none;
}

.header h1{
    font-size: 40px;
    color: #ffd662ff;
}

.header img{
height: 100px;
width: 100px;
}

.btn{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 219px;
    cursor: pointer;
}


/* TAB-CARD  */
.tab-card{
    width: 81%;
    margin: auto;
    height: 100%;
    margin-top: 24px;
}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr 2fr 1fr;
    margin-bottom: 15px;
}

.card h2{
    color: #ffd662ff;
}

.card p{
    color: white;
}

.tab-card img{
    height: 50px;
    width: 50px;
}
 .btninfo{
    padding: 6px;
    margin-top: 11px;
    /* margin-left: 0px; */
    background-color: #ffd662ff;
    border: #00539CFF;
    border-radius: 2px;
    cursor: pointer;
}
